{% extends 'base.html' %}

{% load static %}

{% block title %}
О сайте

{% endblock %}

{% block content %}

<article>

<div class="container">
	<div class="row">
		<div class="col">
			<h1>О нас</h1>
			<div class="content inner-content">

<table>

<tr>
<td>«Note.by» — это полезный проект для тех, кто хочет поделиться своими мыслями, мечтами, идеями. </td>
<td>Фиксируйте свои мысли и сохраняйте то, что вас вдохновляет, где бы вы ни были, какое бы устройство ни использовали и с каким бы форматом не имели дело. Все ваши важные заметки, фото, рецепты и документы в надежных руках и под рукой. </td>
</tr>

<tr>
<td>Проект не продает и не хранит вашу личную информацию. Все данные используются только в обобщенном виде.<br><br>Начнем?</td>

<td>За участие в проекте вы ничего не платите.Чтобы начать, нужно зарегистрироваться. Это совсем несложно и займет не более одной минуты.</td>
</tr>


</table>

			</div>
		</div>
	</div>
</div>

</article>

<h3>&nbsp;</h3>

{% endblock %}