<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="https://habrastorage.org/getpro/habr/upload_files/9f6/fb9/1ca/9f6fb91ca4199a9532efc57571f5b2aa.png"
         class="d-block mx-lg-auto img-fluid rounded-1" alt="Bootstrap Themes" width="700" height="300" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Создавайте свои заметки бесплатно</h1>
    <p class="lead">Этот сайт предназначен для быстрого создания ваших заметок. Вы больше не будете забывать о важных событиях</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="{% url 'create-note' %}" class="btn btn-primary btn-lg px-4 me-md-2">Создать заметку</a>
    </div>
  </div>
</div>
